<h1>Listing categs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dscr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categs.each do |categ| %>
  <tr>
    <td><%= categ.name %></td>
    <td><%= categ.dscr %></td>
    <td><%= link_to 'Show', categ %></td>
    <td><%= link_to 'Edit', edit_categ_path(categ) %></td>
    <td><%= link_to 'Destroy', categ, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categ', new_categ_path %>
